{% load static %}
<!DOCTYPE html>
<!--Code by Divinector (www.divinectorweb.com)-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>instructions page</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/instructions.css'%}">    
</head>
<body>
    <header>
    <div class="wrapper">
<ul class="nav-area">
<li><a href="#">Username</a></li>

</ul>
</div>
<div class="welcome-text">
        <h1>
Test Your <span>Knowledge</span></h1><br>
<p>English grammar is the way in which meanings are encoded into wordings in the English language.
This includes the structure of words, phrases, clauses, sentences, and whole texts.<br><br>
<strong><span>Instructions:</span></strong><br>
1. Answer al the questions.<br>
2. 1 mark for correct question.<br>
3. No negative marking.<br>
<a href="/quiz">Start Test</a>
</p>
</div>
</header>

</body>
</html>
